{{>partials/header}}

<div class="container list">
    {{#list}}
        <div class="item">
            <img src="images/{{image}}" class="item--image" />
            <div class="item--name">{{name}}</div>
            <div class="item--color">Cor: {{color}}</div>
            <div class="item--genre">Gênero: {{sex}}</div>
        </div>
    {{/list}}

    {{^list}}
        <h2 class="no-list">Nenhum resultado!</h2>
    {{/list}}
</div>

{{>partials/footer}}